<!DOCTYPE html>
<html lang="en">
<p>
Warhammer 40k Roleplay: Only War is owned by Fantasy  Flight Games and Games Workshop.
</p>
<p>
Only War is a complete, standalone Warhammer 40,000 roleplaying game experience in which players take on the roles of soldiers in the Imperial Guard, the galaxy-spanning armies of the God-Emperor. Fully compatible with FFG&#39;s other Warhammer 40,000 Roleplay titles, this comprehensive game system explores a previously unseen side of life in the Imperium of Man.
In the Grim Darkness of the Far Future…
</p>
<p>
On a million, million worlds across thousands of light years of space, humanity fights endlessly for his survival against aliens, heretics, and daemons. From the blood-drenched mud of frontier worlds to the cold depths of space, the innumerable armies of the Imperium of Man are at constant war with the galaxy, fighting threats from without, from within, and from beyond.
</p>
<p>
Some soldiers are forced unwillingly into combat by an uncaring bureaucracy, while for others, the defence of the Imperium is a matter of personal duty. Whether by choice or chance, these men and women are inducted into the God-Emperor&#39;s armies, trained to fight, and sent off to far-flung stars and systems to hold the line against the coming night. Whatever their origins, whatever their reasons or training, they are the thin line that protects the Imperium from complete and utter destruction. Despite overwhelming opposition, or perhaps because of it, they are bound to each other by a code of brotherhood and honour. They are the Imperial Guard.
Forged in Battle
</p>
<p>
As Imperial Guardsmen, your characters will be called upon to undertake dangerous missions deep behind enemy lines. Your squad might be ordered to infiltrate an enemy base to acquire vital logistical plans, or to quickly set up an ambush against an incoming xenos convoy. With missions as varied as the galaxy&#39;s innumerable warfronts, you and your squadmates must often rely on nothing but your own grim determination and your faith in each other.
</p>
<p>
Take the role of a Guardsman with one of twelve distinct Specialties, bringing unique skills to your squad to complement those of your comrades. Will you support your team as its Medic, rushing headfirst into fire to perform life-saving feats, or will you draw on the energies of the Warp as a fearsome Sanctioned Psyker? Perhaps you&#39;ll protect your squad with suppressing fire as a brawny Heavy Gunner, or become the team&#39;s Commissar and “motivate” them to greatness at the barrel of a bolter. Whatever your function, you&#39;ll be an important part of the Imperium&#39;s efforts to protect humanity.
</p>
<p>
Bloodthirsty xenos and the foul spawn of Chaos are hardly the only threats to a soldier&#39;s life, however. Throughout your adventures, you and your fellow Guardsmen will also contend with paralyzing bureaucratic apathy, a leadership that often views you as expendable, and the fickle political maneuvering of those far beyond your humble station. In spite of this, your squad must make the best of the situations you encounter, embodying the ideals of the Imperial Guard while punishing the enemies of the God-Emperor. A Guardsman must take the glorious fight to the enemies, and spread the Light of His Word to the darkest corners of the galaxy.
</p>
<p>
In the face of overwhelming opposition, Guardsmen fight against mankind&#39;s many enemies for the very survival of their species. It is the very immensity of this challenge, however, that strengthens a Guardsman&#39;s sense of brotherhood and duty toward his squadmates. Though you are just a few among a faceless multitude of your brethren, chance or fate has singled you out for some special purpose. Prepare to join the greatest fighting force the galaxy has ever seen!
</p>
</html>