<div class="container">
    Click the roll button in the Wounds and Fate Points sections to determine your starting values for
    each.<br/>

    To spend your starting experience, click the dropdown under <strong>Spend Experience</strong> to choose a category.
    <div class="row">
        <h3>Wounds</h3>
        Regiment Modifier: {{character.wounds.regimentModifier}} <br/>
        Specialty Modifier: {{character.wounds.specialtyModifier}} <br/>
        Roll: <input type="number" ng-model="character.wounds.rolled" ng-model-options="{getterSetter:true}"/>
        <button class="btn btn-standard" ng-click="rollWounds()">Roll</button>
        <br/>
        Total: <input type="number" ng-value="character.wounds.total" ng-model-options="{getterSetter:true}" readonly>
    </div>
    <hr/>
    <div class="row">
        <div class="row">
            <h3>Fate Points</h3>
        </div>
        <div class="row">
            Roll : {{fpRoll}}
            <button class="btn btn-standard" ng-click="rollFP()">Roll</button>
            <br/>
        </div>
        Fate Points : <input type="number" ng-model="character.fatePoints"
                             ng-model-options="{ getterSetter: true }"/>
    </div>
    <hr/>
    <div class="row" ng-show="duplicateAptitudes.length > 0">
        <div class="row">
            You've gained the {{duplicateAptitudes}} aptitudes multiple times from your Regiment and Specialty. You may
            select that
            many bonus characteristic aptitudes as a bonus.
        </div>
        <div class="row">
            Choose {{duplicateAptitudes.length}}:
            <select multiple ng-model="chosenBonusAptitudes">
                <option ng-repeat="aptitude in availableAptitudes" value={{aptitude}}>{{aptitude}}</option>
            </select>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <h3>Starting Experience</h3>
            <div class="row">
                {{availableXp}}
            </div>
            You may spend this experience on the main character sheet.
        </div>
    </div>
</div>