<div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Regiment<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="regiment-list">
                        <li ng-repeat="regiment in regiments"><a ng-click="selectRegiment(regiment)">{{regiment.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" ng-show="selectedRegiment" class="text-center">
            <div class="col-md-6">
                <div id="regiment-details" class="container-fluid">
                    <div class="row">
                        <h3>{{selectedRegiment.name}}</h3>
                    </div>
                    <div class="row">
                        <h3>Characteristic Modifiers</h3>
                        <ul>
                            <li ng-repeat="(name, value) in selectedRegiment['fixed modifiers'].characteristics">
                                {{name}} :
                                {{value > 0 ?
                                '+' +
                                value :
                                value}}
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <h3>Starting Skills</h3>
                        <ul>
                            <li ng-repeat="(skill, rating) in selectedRegiment['fixed modifiers'].skills">{{rating === 1 ? skill : skill + "+" + rating * 10}}</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h3>Starting Talents</h3>
                        <ul>
                            <li ng-repeat="talent in selectedRegiment['fixed modifiers'].talents">{{talent}}
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <h3>Standard Regimental Kit</h3>
                        <ul>
                            <li ng-repeat="item in selectedRegiment['fixed modifiers']['character kit']['main weapon']">
                                {{item.count
                                + " x " + item.item.name}}
                            </li>
                            <li ng-repeat="item in selectedRegiment['fixed modifiers']['character kit']['other weapons']">
                                {{item.count
                                + " x " + item.item.name}}
                            </li>
                            <li ng-repeat="item in selectedRegiment['fixed modifiers']['character kit']['armor']">
                                {{item.count
                                + " x " + item.item.name}}
                            </li>
                            <li ng-repeat="item in selectedRegiment['fixed modifiers']['character kit']['other gear']">
                                {{item.count
                                + " x " + item.item.name}}
                            </li>
                            <li ng-repeat="item in selectedRegiment['fixed modifiers']['character kit']['squad kit']">
                                {{item.count
                                + " x " + item.item.name}} (Squad)
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <h3>Aptitudes</h3>
                        <ul>
                            <li ng-repeat="aptitude in selectedRegiment['fixed modifiers']['aptitudes']">{{aptitude}}</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h3>Favored Weapons</h3>
                        {{selectedRegiment['fixed modifiers']['favored weapons'].join(', ')}}
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1" ng-show="requiredSelections.length > 0">
                This Regiment provides the following optional benefits:
                <ul>
                    <li ng-repeat="selection in requiredSelections">
                        <button class='btn btn-link' ng-click="openSelectionModal(selection)">{{selection
                            | option_summary}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>