<div class="container">
    <div class="row text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <label for="character-name">Character Name</label>
                            <input type="text" id="character-name" style="width:90%" ng-model="character.name"/>
                        </div>
                        <div class="row">
                            <label for="regiment-name">Regiment</label>
                            <input id="regiment-name" type="text" readonly style="width:90%"
                                   ng-value="character.regiment.name"/>
                        </div>
                        <div class="row">
                            <label for="demeanor">Demeanor</label>
                            <input type="text" id="demeanor" style="width:90%" ng-model="character.demeanor"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <label for="player-name">Player Name</label>
                            <input type="text" id="player-name" style="width:90%"/>
                        </div>
                        <div class="row">
                            <label>Specialty</label>
                            <input type="text" readonly style="width:90%" ng-value="character.specialty.name"/>
                        </div>
                        <div class="row">
                            <label for="description">Description</label>
                            <input type="text" id="description" style="width:90%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <table style="width:100%" class="text-center table-bordered">
                <tr>
                    <td ng-repeat="characteristic in characteristics"
                        ng-mouseenter="characteristicTooltip(characteristic)"
                        uib-tooltip-template="'templates/characteristic-tooltip.html'" tooltip-append-to-body="true"
                        tooltip-enable="character.characteristics[characteristic.toLowerCase()].total()"
                        tooltip-popup-delay="500" tooltip-placement="bottom">
                        <span class="text-center">{{characteristic}}</span>
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="characteristic in characteristics" class="text-center"
                        uib-tooltip-template="'templates/characteristic-tooltip.html'" tooltip-append-to-body="true"
                        tooltip-enable="character.characteristics[characteristic.toLowerCase()].total()"
                        tooltip-popup-delay="500" tooltip-placement="bottom">
                        {{character.characteristics[characteristic.toLowerCase()].total()}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <table id="skill-div" class="table table-bordered pull-left">
                <tr>
                    <th class="col-md-8"></th>
                    <th>Trained</th>
                    <th>+10</th>
                    <th>+20</th>
                    <th>+30</th>
                </tr>
                <tr ng-repeat="(skill,rating) in character.skills" class="text-center">
                    <td>{{skill}}</td>
                    <td ng-repeat="i in [1,2,3,4]"><input type="radio"
                                                          ng-checked="rating >= i"
                                                          ng-click="character.skills[skill] = i"/></td>
                </tr>
            </table>
            <select ng-model="newSkill">
                <option ng-repeat="skill in availableSkills" value="{{$index}}">{{skill.name}}</option>
            </select>
            <button class="btn btn-standard" ng-click="addSkill()" ng-disabled="!newSkill || (availableSkills[newSkill].specialization && !newSkillSpecialization)">Add New Skill {{newSkillXpCost ? "("+newSkillXpCost+" xp )" : ""}}</button>
            <div ng-show="availableSkills[newSkill].specialization">

                Specialization:<input type="text" ng-model="newSkillSpecialization"/>
            </div>
        </div>
        <h4>Talents & Traits</h4>
        <ul>
            <li ng-repeat="talent in character.talents">{{talent.name}}</li>
            <li><select ng-model="newTalent">
                <option ng-repeat="talent in availableTalents" value="{{$index}}">{{talent.name}}</option>
            </select>
                <button ng-click="addTalent()">Add Talent</button>
            </li>
        </ul>

    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <h3>Wounds</h3>
                    </div>
                    <div class="row">
                        <h4>Critical Damage</h4>
                        <ul>
                            <li ng-repeat="critical in criticalInjuries">{{critical}}
                                <button class="btn pull-right" ng-click="removeCriticalInjury($index)">Remove</button>
                            </li>
                            <li><input ng-model="newCriticalInjury" style="width:75%">
                                <button class="btn pull-right" ng-click="addCriticalInjury()">Add</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row text-center">
                        <label class="pull-left" for="total-wounds">Total</label>
                        <input class="pull-right" type="text" id="total-wounds" readonly
                               ng-value="character.wounds.total"
                               style="width:90%"/>
                    </div>
                    <div class="row text-center">
                        <label class="pull-left" for="current-wounds">Current</label>
                        <input class="pull-right" type="number" id="current-wounds" style="width:90%"/>
                    </div>
                    <div class="row text-center">
                        <label class="pull-left" for="fatigue">Fatigue</label>
                        <input class="pull-right" type="text" id="fatigue" style="width:90%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <h3>Insanity</h3>
                    </div>
                    <div class="row">
                        <h4>Mental Disorders</h4>
                        <ul>
                            <li ng-repeat="disorder in mentalDisorders">{{disorder}}
                                <button class="btn pull-right" ng-click="removeMentalDisorder($index)">Remove</button>
                            </li>
                            <li><input ng-model="newMentalDisorder" style="width:75%">
                                <button class="btn pull-right" ng-click="addMentalDisorder()">Add</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <h4>Points</h4>
                    <input type="number" style="width:90%"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    <h3>Corruption</h3>
                    <h4>Mutations</h4>
                    <ul>
                        <li ng-repeat="mutation in mutations track by $index">{{mutation}}
                            <button class="btn pull-right" ng-click="removeMutation($index)">Remove</button>
                        </li>
                        <li><input ng-model="newMutation" style="width:75%">
                            <button class="btn pull-right" ng-click="addMutation()">Add</button>
                        </li>
                    </ul>
                    <h4>Malignancies</h4>
                    <ul>
                        <li ng-repeat="malignancy in malignancies track by $index">{{malignancy}}
                            <button class="btn pull-right" ng-click="removeMalignancy($index)">Remove</button>
                        </li>
                        <li><input ng-model="newMalignancy" style="width:75%">
                            <button class="btn pull-right" ng-click="addMalignancy()">Add</button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <label for="corruption-points">Points</label>
                    <input type="number" id="corruption-points" style="width:75%"/>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tbody ng-repeat="weapon in character.equipment.weapons">
                <tr colspan="8">Weapon</tr>
                <tr>
                    <td colspan="1">Name</td>
                    <td colspan="7"><input type="text" ng-model="weapon.item.name" readonly/></td>
                </tr>
                <tr>
                    <td>Class</td>
                    <td><input type="text" ng-model="weapon.item.class" readonly style="width:50px"/></td>
                    <td>Damage</td>
                    <td><input type="text" ng-model="weapon.item.damage" readonly style="width:75px"/></td>
                    <td>Type</td>
                    <td><input type="text" ng-model="weapon.item.type" readonly style="width:75px"/></td>
                    <td>Pen</td>
                    <td><input type="text" ng-model="weapon.item.pen" readonly style="width:75px"/></td>
                </tr>
                <tr>
                    <td>Range</td>
                    <td><input type="text" ng-model="weapon.item.range" readonly style="width:75px"/></td>
                    <td>Damage</td>
                    <td><input type="text" ng-model="weapon.item.rof" readonly style="width:75px"/></td>
                    <td>Clip</td>
                    <td><input type="text" ng-model="weapon.item.clip" readonly style="width:75px"/></td>
                    <td>Reload</td>
                    <td><input type="text" ng-model="weapon.item.reload" readonly style="width:75px"/></td>
                </tr>
                <tr>
                    <td colspan="2">Special Rules</td>
                    <td colspan="6"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2 col-md-offset-5"
                     ng-mouseenter="armorTooltip('head')"
                     uib-tooltip-template="'templates/armor-tooltip.html'" tooltip-append-to-body="true"
                     tooltip-enable="armor.head.rating"
                     tooltip-popup-delay="500" tooltip-placement="bottom"
                >
                    Head (1-10)
                    <div>
                        {{armor.head.rating}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-3" ng-mouseenter="armorTooltip('rightArm')"
                     uib-tooltip-template="'templates/armor-tooltip.html'" tooltip-append-to-body="true"
                     tooltip-enable="armor.rightArm.rating"
                     tooltip-popup-delay="500" tooltip-placement="bottom"
                >
                    Right Arm (11-20)
                    <div>
                        {{armor.rightArm.rating}}
                    </div>
                </div>
                <div class="col-md-2" ng-mouseenter="armorTooltip('body')"
                     uib-tooltip-template="'templates/armor-tooltip.html'" tooltip-append-to-body="true"
                     tooltip-enable="armor.body.rating"
                     tooltip-popup-delay="500" tooltip-placement="bottom"
                >
                    Body (31-70)
                    <div>
                        {{armor.body.rating}}
                    </div>
                </div>
                <div class="col-md-2" ng-mouseenter="armorTooltip('leftArm')"
                     uib-tooltip-template="'templates/armor-tooltip.html'" tooltip-append-to-body="true"
                     tooltip-enable="armor.leftArm.rating"
                     tooltip-popup-delay="500" tooltip-placement="bottom"
                >
                    Left Arm (21-30)
                    <div>
                        {{armor.leftArm.rating}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-4" ng-mouseenter="armorTooltip('rightLeg')"
                     uib-tooltip-template="'templates/armor-tooltip.html'" tooltip-append-to-body="true"
                     tooltip-enable="armor.rightLeg.rating"
                     tooltip-popup-delay="500" tooltip-placement="bottom"
                >
                    Right Leg (71-85)
                    <div>
                        {{armor.rightLeg.rating}}
                    </div>
                </div>
                <div class="col-md-2" ng-mouseenter="armorTooltip('leftLeg')"
                     uib-tooltip-template="'templates/armor-tooltip.html'" tooltip-append-to-body="true"
                     tooltip-enable="armor.leftLeg.rating"
                     tooltip-popup-delay="500" tooltip-placement="bottom"
                >
                    Left Leg (86-100)
                    <div>
                        {{armor.leftLeg.rating}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Psy Rating <input type="number" id="psy-rating" ngValue="character.psy-rating"/>
            <ul>
                <li ng-repeat="power in character.psychic-powers">{{power.name}}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="row">
                Comrade
            </div>
            <div class="row">
                Name<input type="text" id="comrade-name"/>
            </div>
            <div class="row">
                Status<input type="text" id="comrade-status">
            </div>
            <div class="row">
                Special Abilities
            </div>
            <div class="row">
                <ul>
                    <li ng-repeat="ability in character.comrade.special-abilities">
                        {{ability.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">

        </div>
        <div class="row">
            <div class="row">
                Gear
            </div>
            <div class="row">
                <ul>
                    <li ng-repeat="item in character.equipment.otherGear.all">{{item.count + " x " +
                        item.item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        Experience
    </div>
    <div class="row">
        Available Xp <input type="number" ng-model="character.experience.available"
                            uib-tooltip="Set the amount of available xp here."/>
        {{character.experience.available}}
    </div>
    <div class="row">
        Total XP <input type="number" ng-value="character.experience.total" readonly/>
    </div>
    <div class="row">
        Aptitudes
        <ul>
            <li ng-repeat="aptitude in character.aptitudes.all">{{aptitude}}</li>
        </ul>
    </div>
</div>