<div class="container">
    <div class="row text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <label for="character-name">Character Name</label>
                            <input type="text" id="character-name" style="width:90%" ng-model="character.name"/>
                        </div>
                        <div class="row">
                            <label for="regiment-name">Regiment</label>
                            <input id="regiment-name" type="text" readonly style="width:90%" ng-value="character.regiment().name"/>
                        </div>
                        <div class="row">
                            <label for="demeanor">Demeanor</label>
                            <input type="text" id="demeanor" style="width:90%" ng-model="character.demeanor"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <label for="player-name">Player Name</label>
                            <input type="text" id="player-name" style="width:90%"/>
                        </div>
                        <div class="row">
                            <label>Specialty</label>
                            <input type="text" readonly style="width:90%" ng-value="character.specialty().name"/>
                        </div>
                        <div class="row">
                            <label for="description">Description</label>
                            <input type="text" id="description" style="width:90%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <span>Tooltip</span>
    <div class="row">
        <div class="col-md-12">
            <table style="width:100%" class="text-center table-bordered">
                <tr>
                    <td ng-repeat="characteristic in characteristics" ng-mouseenter="characteristicTooltip(characteristic)"
                        uib-tooltip-template="'templates/characteristic-tooltip.html'" tooltip-append-to-body="true" tooltip-enable="character.characteristics().byName(characteristic.name.toLowerCase()).total()"
                        tooltip-popup-delay="500">
                        <span class="text-center">{{characteristic.name}}</span>
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="characteristic in characteristics" class="text-center" uib-tooltip-template="'templates/characteristic-tooltip.html'" tooltip-append-to-body="true" tooltip-enable="character.characteristics().byName(characteristic.name.toLowerCase()).total()"
                    tooltip-popup-delay="500">
                        {{character.characteristics().byName(characteristic.name.toLowerCase()).total()}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <table id="skill-div" class="table table-bordered pull-left">
                <tr>
                    <th class="col-md-8"></th>
                    <th>Trained</th>
                    <th>+10</th>
                    <th>+20</th>
                    <th>+30</th>
                </tr>
                <tr ng-repeat="skill in character.skills().all()" class="text-center">
                    <td>{{skill.name()}}</td>
                    <td ng-repeat="i in [1,2,3,4]"><input ng-value="skill.advancements()" type="radio"
                                                          ng-checked="skill.advancements() >= i"
                                                          ng-click="skill.advancements(i)"/></td>
                </tr>
            </table>
        </div>
        Talents & Traits
        <ul>
            <li ng-repeat="talent in character.talents().all()">{{talent}}</li>
        </ul>

    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <h3>Wounds</h3>
                    </div>
                    <div class="row">
                        <h4>Critical Damage</h4>
                        <ul>
                            <li ng-repeat="critical in criticalInjuries">{{critical}}
                                <button class="btn pull-right" ng-click="removeCriticalInjury($index)">Remove</button>
                            </li>
                            <li><input ng-model="newCriticalInjury" style="width:75%">
                                <button class="btn pull-right" ng-click="addCriticalInjury()">Add</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row text-center">
                        <label class="pull-left" for="total-wounds">Total</label>
                        <input class="pull-right" type="text" id="total-wounds" readonly ng-value="character.wounds().total()"
                               style="width:90%"/>
                    </div>
                    <div class="row text-center">
                        <label class="pull-left" for="current-wounds">Current</label>
                        <input class="pull-right" type="number" id="current-wounds" style="width:90%"/>
                    </div>
                    <div class="row text-center">
                        <label class="pull-left" for="fatigue">Fatigue</label>
                        <input class="pull-right" type="text" id="fatigue" style="width:90%"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <h3>Insanity</h3>
                    </div>
                    <div class="row">
                        <h4>Mental Disorders</h4>
                        <ul>
                            <li ng-repeat="disorder in mentalDisorders">{{disorder}}
                                <button class="btn pull-right" ng-click="removeMentalDisorder($index)">Remove</button>
                            </li>
                            <li><input ng-model="newMentalDisorder" style="width:75%">
                                <button class="btn pull-right" ng-click="addMentalDisorder()">Add</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <h4>Points</h4>
                    <input type="number" style="width:90%"/>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">
                    <h3>Corruption</h3>
                    <h4>Mutations</h4>
                    <ul>
                        <li ng-repeat="mutation in mutations track by $index">{{mutation}}
                            <button class="btn pull-right" ng-click="removeMutation($index)">Remove</button>
                        </li>
                        <li><input ng-model="newMutation" style="width:75%">
                            <button class="btn pull-right" ng-click="addMutation()">Add</button>
                        </li>
                    </ul>
                    <h4>Malignancies</h4>
                    <ul>
                        <li ng-repeat="malignancy in malignancies track by $index">{{malignancy}}
                            <button class="btn pull-right" ng-click="removeMalignancy($index)">Remove</button>
                        </li>
                        <li><input ng-model="newMalignancy" style="width:75%">
                            <button class="btn pull-right" ng-click="addMalignancy()">Add</button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <label for="corruption-points">Points</label>
                    <input type="number" id="corruption-points" style="width:75%"/>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tbody ng-repeat="weapon in character.equipment.weapons">
                <tr colspan="8">Weapon</tr>
                <tr>
                    <td colspan="1">Name</td>
                    <td colspan="7"><input type="text"/></td>
                </tr>
                <tr>
                    <td>Class</td>
                    <td><input type="text" value="weapon.name" readonly></td>
                    <td>Damage</td>
                    <td><input type="text"/></td>
                    <td>Type</td>
                    <td><input type="text"/></td>
                    <td>Pen</td>
                    <td><input type="number"/></td>
                </tr>
                <tr>
                    <td>Range</td>
                    <td><input type="text"/></td>
                    <td>Damage</td>
                    <td><input type="text"/></td>
                    <td>ROF</td>
                    <td><input type="text"/></td>
                    <td>Clip</td>
                    <td><input type="text"/></td>
                    <td>Reload</td>
                    <td><input type="text"/></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-6">
                    Psy Rating <input type="number" id="psy-rating" ngValue="character.psy-rating"/>
                    <ul>
                        <li ng-repeat="power in character.psychic-powers">{{power.name}}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        Comrade
                    </div>
                    <div class="row">
                        Name<input type="text" id="comrade-name"/>
                    </div>
                    <div class="row">
                        Status<input type="text" id="comrade-status">
                    </div>
                    <div class="row">
                        Special Abilities
                    </div>
                    <div class="row">
                        <ul>
                            <li ng-repeat="ability in character.comrade.special-abilities">
                                {{ability.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">
                        Head (1-10)
                        <input type="text" id="armor-head"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        Right Arm (11-20)
                        <input type="text" id="armor-right-arm"/>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        Body (31-70)
                        <input type="text" id="armor-body"/>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        Left Arm (21-30)
                        <input type="text" id="armor-left-arm"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-3">
                        Right Leg (71-85)
                        <input type="text" id="armor-right-leg"/>
                    </div>
                    <div class="col-md-2 col-md-offset-2">
                        Left Leg (86-100)
                        <input type="text" id="armor-left-leg"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    Gear
                </div>
                <div class="row">
                    <ul>
                        <li ng-repeat="item in character.equipment.items"></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                Experience
            </div>
            <div class="row">
                XP to Spend <input type="number" ng-value="character.xp-available"/>
            </div>
            <div class="row">
                Total XP Spent <input type="number" ng-value="character.xp-total"/>
            </div>
            <div class="row">
                Aptitudes
                <ul>
                    <li ng-repeat="aptitude in character.aptitudes">{{aptitude}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>