<div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Specialty<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="specialty-list">
                        <li ng-repeat="specialty in specialties "><a
                                ng-click="selectSpecialty(specialty)">{{specialty.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" ng-show="selectedSpecialty" class="text-center">
            <div class="col-md-6">
                <div id="specialty-details" class="container-fluid">
                    <div class="row">
                        <h3>{{selectedSpecialty.name}}</h3>
                    </div>
                    <div class="row">
                        <h3>Characteristic Modifiers</h3>
                        <ul>
                            <li ng-repeat="(name, value) in selectedSpecialty['fixed modifiers'].characteristics">
                                {{name}} :
                                {{value > 0 ?
                                '+' +
                                value :
                                value}}
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <h3>Starting Skills</h3>
                        <ul>
                            <li ng-repeat="(skill,rating) in selectedSpecialty['fixed modifiers'].skills">{{skill}}{{rating > 1 ? + (rating * 10) : ""}}</li>
                        </ul>
                    </div>
                    <div class="row">
                        <h3>Starting Talents</h3>
                        <ul>
                            <li ng-repeat="talent in selectedSpecialty['fixed modifiers'].talents">{{talent}}
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <h3>Additional Gear</h3>
                        <ul>
                            <li ng-repeat="(name, count) in selectedSpecialty['fixed modifiers']['character kit']['main weapon']">
                                {{count
                                + " x " + name}}
                            </li>
                            <li ng-repeat="(name, count) in selectedSpecialty['fixed modifiers']['character kit']['other weapons']">
                                {{count
                                + " x " + name}}
                            </li>
                            <li ng-repeat="(name, count) in selectedSpecialty['fixed modifiers']['character kit']['armor']">
                                {{count
                                + " x " + name}}
                            </li>
                            <li ng-repeat="(name, count) in selectedSpecialty['fixed modifiers']['character kit']['other gear']">
                                {{count
                                + " x " + name}}
                            </li>
                            <li ng-repeat="(name, count) in selectedSpecialty['fixed modifiers']['character kit']['squad kit']">
                                {{count
                                + " x " + name}} (Squad)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1" ng-show="requiredSelections.length > 0">
                This Specialty provides the following optional benefits:
                <ul>
                    <li ng-repeat="selection in requiredSelections">
                        <button class='btn btn-link' ng-click="openSelectionModal(selection)">{{selection
                            | option_summary}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>